<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <form method="POST" action="/">
        <label for="name">Enter your name:</label>
        <input type="text" id="name" name= "name" required>
        <button type="submit">Submit</button>
    </form>
    {% if name %}
        <h1>Hello World! {{ name }}, welcome to CCCS 106 - Applications Development and Emerging Technologies</h1>
    {% endif %}
</body>
</html>
